/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering`
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

button {
  background-color: transparent;
  border: 0;
}
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

/* GENERAL STYLES */
html,
body,
#root {
  min-height: 100%;
}

.box-shadow {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.display-flex {
  display: flex;
}
.display-none {
  display: none;
}

.background-white {
  background-color: #ffffff;
}

.background-gray {
  background-color: #eeeeee;
}

.max-width-1240 {
  max-width: 1240px;
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
}
#root > div:nth-child(2) {
  flex-grow: 1;
}
/* NAV BAR */
.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-bar__links {
  display: flex;
  height: 100%;
}

.nav-bar__links a {
  text-decoration: none;
  color: #000000;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

a.nav-bar__links--selected {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.nav-bar__currency-and-widget {
  display: flex;
  font-size: 1.125rem;
  align-items: center;
}

.currency-selector {
  height: 80px;
  display: flex;
  align-items: center;
}
.currency-selector > span {
  display: flex;
  align-items: center;
}

.currencies-list {
  z-index: 1;
  position: absolute;
  font-size: 1.125rem;
  font-weight: 500;
  flex-direction: column;
  top: 100%;
  right: 0;
}

.currencies-list > div {
  padding: 10px 40px 10px 20px;
}

.currency-selector:hover {
  cursor: pointer;
}

.money-icon {
  min-width: 25px;
  text-align: end;
}

.currency-selector__expand-more {
  transition: transform 0.5s linear;
  max-width: fit-content;
  width: 25px;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* CATEGORY */
.category-container {
  padding: 80px 116px;
  max-width: 1440px;
  margin: auto;
}

.category-container__title {
  font-size: 2.625rem;
}
.category-container__title::first-letter {
  text-transform: uppercase;
}

/* PRODUCTS CONTAINER */
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

/*PRODUCT ITEM */

.product-item-container {
  width: 386px;
  height: 444px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  position: relative;
}

.product-item-container a {
  text-decoration: none;
  color: inherit;
}

.product-item-container__image {
  width: 356px;
  height: 338px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item-container__out-of-stock {
  font-weight: 400;
  color: #8d8f9a;
  font-size: 1.5rem;
}

.product-item-container__name {
  font-size: 1.125rem;
  font-weight: 300;
}

.product-item-container__price {
  font-size: 1.125rem;
  font-weight: 500;
}

.add-to-cart-icon {
  position: absolute;
  width: 52px;
  height: 52px;
  z-index: 1;
  bottom: 72px;
  right: 31px;
  cursor: pointer;
}

.out-of-stock-opacity {
  opacity: 0.5;
}
/* PRODUCT DETAIL CONTAINER */
.product-detail-container {
  display: flex;
  margin-top: 72px;
}

/* PRODUCT DETAIL GALLERY */
.gallery-container {
  display: flex;
}

.gallery-container__secondary-images-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery-container__secondary-image {
  height: 80px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.gallery-container__main-image {
  height: 511px;
  width: 610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* PRODUCT DETAIL SPECS */
.product-brand-and-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-detail-specs__brand {
  font-size: 1.875rem;
  font-weight: 600;
}

.product-detail-specs__name {
  font-size: 1.875rem;
}

.product-detail-specs__attribute-name,
.product-detail-specs__price {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.product-detail-container .product-attributes {
  margin: 43px 0 36px 0;
}
.product-detail-specs__amount {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-detail-specs__attributes-list {
  display: flex;
}
.product-attribute-type-text {
  padding: 13px 27px;
  border: 1px solid #000000;
  margin: 0 6px;
  cursor: pointer;
}

.selected-text-attribute {
  background-color: #000000;
  color: #ffffff;
}

.product-attribute-type-color {
  margin: 0 3px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}

.selected-color-attribute {
  border: 1px solid #ffffff;
  outline: 1px solid #5ece7b;
}

.product-detail-specs__attributes-list > div:first-child {
  margin-left: 0;
}

.add-to-cart-button,
.order-button {
  width: 292px;
  height: 52px;
  background-color: #5ece7b;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.order-button {
  margin-bottom: 80px;
}
.order-button:hover {
  cursor: pointer;
}
.add-to-cart-button:hover {
  cursor: pointer;
}
.product-detail-container .add-to-cart-button,
.product-detail-container .add-and-subtract-container {
  margin: 20px 0 40px 0;
}
.add-and-subtract-container {
  width: 292px;
  height: 52px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  text-align: center;
}

.add-and-subtract-container > button,
.cart-list-item-carrousel__control > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.cart-list-item-carrousel__control > button {
  background: rgba(0, 0, 0, 0.73);
  border: 0;
}

.cart-list-item-carrousel__control > button > img {
  filter: brightness(0) invert(1);
  transform: scale(2);
}

.add-and-subtract-container > button > img {
  z-index: -1;
}

.cart-list-item .add-and-subtract-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  width: auto;
}

.cart-list-item__right-side {
  display: flex;
}

.add-and-subtract-amount {
  min-width: 45px;
}
.add-and-subtract-button {
  height: 45px;
  width: 45px;
  border: 1px solid #1d1f22;
}

/* CART PAGE */
.cart-page-container {
  margin-top: 80px;
  width: 100%;
}
.cart-page-container .product-detail-specs__attributes-list > div {
  cursor: default;
}

.cart-page-container {
}
.cart-heading {
  font-weight: 700;
  font-size: 2rem;
}
/* CART LIST ITEM */
.cart-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.cart-page-container .cart-list-item {
  border-bottom: 1px solid #e5e5e5;
}
.cart-list-item-carrousel {
  height: 288px;
  width: 200px;
}

.cart-list-item-carrousel-on-widget {
  width: 121px;
  height: 190px;
}

.cart-list-item-carrousel,
.cart-list-item-carrousel-on-widget {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: auto 0;
}

.cart-list-item-carrousel__control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
}

.cart-list-item-carrousel__control > button {
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.73);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: flex;
  justify-content: center;
}

.cart-list-item-carrousel__control > button > span {
  z-index: -1;
}

/* CART WIDGET */
.cart-widget {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
}

.cart-widget img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.cart-widget-number {
  position: absolute;
  bottom: 52%;
  left: 60%;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background-color: #000000;
  text-align: center;
  border-radius: 100%;
}

.product-description {
  width: 292px;
}

.product-description h1 {
  font-size: 1.5rem;
}

.product-description p {
  font-weight: 400;
  line-height: 1.625rem;
}

.footer {
  color: #ffffff;
  font-weight: 600;
  height: 80px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #5ece7b;
}

.footer img {
  width: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease-in-out;
}

.footer img:hover {
  transform: rotate(360deg) scale(1.2);
}

.cart-widget-hover {
  z-index: 1;
  position: absolute;
  font-size: 1.125rem;
  font-weight: 500;
  flex-direction: column;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  max-width: 325px;
  max-height: 677px;
  overflow: hidden;
  padding: 32px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-height: 800px) {
  .cart-widget-hover {
    max-height: 70vh;
  }
}
.cart-widget-hover .product-detail-specs__attributes-list > div {
  font-size: 0.875rem;
  height: 24px;
  padding: 0 2px;
  cursor: inherit;
}

.cart-widget-hover .product-attribute-type-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cart-widget-hover .product-brand-and-name {
  gap: 0;
}

.cart-widget-hover .add-and-subtract-button {
  height: 24px;
  width: 24px;
  padding: 0;
}

.cart-widget-hover .product-detail-specs__brand,
.cart-widget-hover .product-detail-specs__name,
.cart-widget-hover .product-detail-specs__amount {
  font-size: 1rem;
}
.cart-widget-hover .add-and-subtract-container {
  width: 24px;
  height: 190px;
}

.cart-widget-hover .cart-list-item-carrousel {
  width: 121px;
  height: 190px;
}

.cart-widget-hover .cart-list-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-widget-hover-button {
  /* display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 32px;
width: 140px;
height: 43px; */
}

.cart-widget-hover__buttons {
  display: flex;
  gap: 8px;
}

.cart-widget-hover__buttons a {
  text-decoration: none;
}

.cart-widget-hover__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.cart-widget-hover__total div:first-of-type {
  font-weight: 700;
}

.cart-widget-hover__total div:nth-child(2) {
  font-weight: 800;
}
.button {
  width: 292px;
  height: 52px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.button--green {
  background-color: #5ece7b;
  border: 0;
  color: #ffffff;
}

.button--white {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}

.button-styled-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--black {
  background-color: #1d1f22;
  color: #ffffff;
  border: 0;
  margin: 20px 0 40px 0;
  width: 292px;
  height: 52px;
  font-weight: 600;
}

.button--black:hover {
  cursor: inherit;
}
.button-on-widget {
  max-height: 43px;
  font-size: 0.875rem;
}

.cart-summary {
  display: flex;
  flex-direction: column;
}

.cart-summary__info {
  display: inline-grid;
  max-width: 292px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 32px 0 16px 0;
}

.cart-summary__info > div:nth-child(2n) {
  font-weight: 700;
}

.whole-page-background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

.position-relative {
  position: relative;
}

.whole-page-background__gray {
  opacity: 0.15;
  background-color: #000000;
}

.whole-page-background__transparent {
  background-color: transparent;
}

.z-index-2 {
  z-index: 2;
}
