/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering`
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;300&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

/* NAV BAR */
.nav-bar-container {
  background-color: aqua;
  padding: 0 116px;
  max-width: 1440px;
  margin: auto;
}

.nav-bar-container > ul {
  display: flex;
  list-style: none;
  font-weight: 600;
  padding-inline-start: 0;
}

.selected-category {
  background-color: blue;
}
/* CATEGORY */
.category-container {
  padding: 80px 116px;
  max-width: 1440px;
  margin: auto;
}

.category-container__title {
  font-size: 2.625rem;
}
.category-container__title::first-letter {
  text-transform: uppercase;
}

/* PRODUCTS CONTAINER */
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

/*PRODUCT ITEM */

.product-item-container {
  width: 386px;
  height: 444px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-item-container__image {
  width: 356px;
  height: 338px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item-container__out-of-stock {
  font-weight: 400;
  color: #8D8F9A;
  font-size: 1.5rem;
}

.product-item-container__name {
  font-size: 1.125rem;
  font-weight: 300;

}

.product-item-container__price {
  font-size: 1.125rem;
  font-weight: 500;
}

/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
